<a href="https://colab.research.google.com/github/VadlaGreeshma/Skill-development-/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.

In [ ]:
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.

In [ ]:
a=5
b=10
c=15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).

In [ ]:
x=23
y=3.5
z="greeshma"
print (type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)

In [ ]:
a=20
b=23
print(a+b)
print(a-b)
print(a*b)
print(a/b)

43
-3
460
0.8695652173913043

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.

In [ ]:
x="123"
print(int(x))
print(float(x))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)

In [ ]:
str="greeshma"
print(str[0])

g

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)

In [ ]:
str="greeshma"
print(len(str))

8

In [ ]:
# Write a Python program to check if a given string contains only alphabets.

In [ ]:
str=("TEJA")
print(str.isalpha())

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)

In [ ]:
x="WOOD"
y="WORKS"
print(x+y)

WOODWORKS

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)

In [ ]:
x="branches"
print(x.index("a"))
print(x.index("b"))
print(x.index("c"))

2
0
4

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)

In [ ]:
str="greeshmateja"
print(str.upper())
print(str.lower())

GREESHMATEJA
greeshmateja

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)

In [ ]:
str="greeshma"
print(str.count("e"))

2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)

In [ ]:
a="Hello"
b="Greeshma"
c="Good Morning"
print(a)
print(b)
print(c)

Hello
Greeshma
Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.

In [ ]:
x=79
y=83
print(x+y)

162

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)

In [ ]:
name=("VADLA GREESHMA")
age=("19")
print(name)
print(age)

VADLA GREESHMA
19

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

In [ ]:
x=16
if x > 0:
  print("The number is positive.")
elif x < 0:
  print("The number is negative")
else:
 print("The number is zero")

The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)

In [ ]:
a=7
b=8
c=11
print("maximum of three number")
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

maximum of three number
11

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)

In [ ]:
year=2021
if year%4==0:
 print("The year is leap year")
else:
 print("The year is not leap year")

The year is not leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)

In [ ]:
a=25
if a%3==0 and a%5==0:
  print("is divisible by both 3 and 5")
else:
  print("is not divisible by both 3 and 5")

is not divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)

In [ ]:
string="rishi college"
if(string==string[::-1]):
  print("The letter is palindrome")
else:
  print("The letter is not a palindrome")

The letter is not a palindrome

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.

In [ ]:
for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.

In [ ]:
for even_number in range(1,21):
  if even_number%2==0:
    print(even_number)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)

In [ ]:
number=5
for i in range(1,11):
  print(number, "x",i, "=", number)

5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5
5 x 10 = 5

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)

In [ ]:
a = 25
if a < 0:
  print("positive number")
else:
  sum = 0
  while(a > 0):
    sum += a
    a -= 1
    print("The sum is",sum)

The sum is 25
The sum is 49
The sum is 72
The sum is 94
The sum is 115
The sum is 135
The sum is 154
The sum is 172
The sum is 189
The sum is 205
The sum is 220
The sum is 234
The sum is 247
The sum is 259
The sum is 270
The sum is 280
The sum is 289
The sum is 297
The sum is 304
The sum is 310
The sum is 315
The sum is 319
The sum is 322
The sum is 324
The sum is 325

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)

In [ ]:
a =4
factorial = 1
i = 1
while i <= a:
  factorial *= i
  i += 1
print("The factorial of", a, "is", factorial)

The factorial of 4 is 24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

In [ ]:
n = 5
a, b = 0, 1
print("Fibonacci sequence up to", n, "terms:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci sequence up to 5 terms:
0 1 1 2 3

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.

In [ ]:
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

In [ ]:
numbers = [10, 25,40, 60, 80]
for num in numbers:
    if num > 50:
        break
    print(num)

10
25
40

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.

In [ ]:
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

In [ ]:
a = "anusha"
print(a.count("a"))

2

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

In [ ]:
num =12
sum_of_digits = 0
while num > 0:
    digit = num % 10
    sum_of_digits += digit
    num = num // 10
print(f"The sum of the digits is: {sum_of_digits}")

The sum of the digits is: 3

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

In [17]:
numbers=[10,20,30,40,50]
integers_list=list(numbers)
print("List of integers:",integers_list)

List of integers: [10, 20, 30, 40, 50]

In [ ]:
# Write a Python program to find the largest element in a list.

In [18]:
int=(11,55,99)
print(max(int))

99

In [ ]:
# Write a Python program to reverse a list.

In [19]:
int=(91,205,661)
print(int[::-1])

(661, 205, 91)

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

In [20]:
int_list = [19, 255, 676]
int_list.remove(255)
print(int_list)

[19, 676]

In [ ]:
# Write a Python program to find the index of an element in a list.

In [21]:
int=["12","25","96"]
print(int.index("25"))

1

In [ ]:
# Write a Python program to find if a specific element exists in a list.

In [22]:
int=["1","25","66"]
print("25" in int)

True

In [ ]:
# Write a Python program to remove duplicates from a list.

In [23]:
int=["1","25","66","25"]
print(list(set(int)))

['1', '25', '66']

In [ ]:
# Write a Python program to count the occurrences of an element in a list.

In [24]:
int=["25","25","66","25"]
print(int.count("25"))

3

In [ ]:
# Write a Python program to get the number of even numbers in a list.

In [29]:
numbers = [2,5,17,22,66]
even_count = count_even_numbers(numbers)
print("Number of even numbers:", even_count)

Number of even numbers: 3

In [ ]:
# Write a Python program to create a tuple and print it.

In [30]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [31]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)

print(my_list)

my_list = [4, 5, 6]
my_tuple = tuple(my_list)

print(my_tuple)

[1, 2, 3]
(4, 5, 6)

In [32]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [33]:
my_tuple = (1, 2, 3, 4, 5)
max_value = max(my_tuple)
min_value = min(my_tuple)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 5
Minimum value: 1

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [34]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [35]:
my_set = {1, 2, 3}
my_set.add(4)

print(my_set)

{1, 2, 3, 4}

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [36]:
my_dict = {
    "name": "Teja",
    "age": 23,
    "city": "Hyderabad",
    "profession": "Doctor",
}
print("Dictionary Contents:")
for key, value in my_dict.items():
  print(f"{key}: {value}")

Dictionary Contents:
name: Teja
age: 23
city: Hyderabad
profession: Doctor

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [39]:
my_dict = {
    "name": "Greeshma",
    "age": 19,
    "city": "Hyderabad"
}

print(my_dict["name"])

Greeshma

In [41]:
# Write a Python program to check if a key exists in a dictionary.

In [42]:
my_dict = {
    "name": "Tejaswi",
    "age": 19,
    "city": "Hyderabad"
}

if "name" in my_dict:
    print("Key 'name' exists in the dictionary.")

Key 'name' exists in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.

In [43]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = {**dict1, **dict2}

print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [44]:
my_dict = {
    "name": "Greeshma",
    "age": 19,
    "city": "Hyderabad"
}

del my_dict["age"]

print(my_dict)

{'name': 'Greeshma', 'city': 'Hyderabad'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [47]:
my_dict = {
    "name": "Greeshma",
    "age": 19,
    "city": "Hyderabad"
}

num_keys = len(my_dict)

print("Number of keys:", num_keys)

Number of keys: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

In [46]:
marks={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}

v = marks.values()
maxi = max(v)
mini = min(v)

print("Maximum :",maxi)
print("Minimum :",mini)

Maximum : 89
Minimum : 35

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`